<% include outsideHeader %>
	<h3>Elfelejtettem a jelszót </h3>
	<br />
	<form action="/list">
	  <div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email-cím">
	  </div>	  
	  <a href="/login" class="btn btn-primary" >elfelejtettem a jelszót</a><br /><br />
	  
	</form>
<% include footer %>