<% include header %>
	<h3>Adatok módosítása</h3>
	<% include profilform %>   
	  <a href="/list" class="btn btn-primary">Módosítás</a>
	  <a href="/login" class="btn btn-primary">Profil törlése</a>		
	</form>
	<br />
<% include footer %>