<% include header %>
	<div class="row">
		<div class="col-xs-12">
			<br />
			<br />
			<br />
			<br />			
			<table>
				<tr>
					<td>
						<img src="http://placehold.it/450x300"/>  <br /> 
					</td>
					<td>
					
						<h3>
						Kaja neve <br /> 
						</h3><h4>
						350 kalória<br /> 
						Elkészítési idő <br />	
						</h4>
					</td>					
				</tr>
			</table> 
			<br />
			<br />
			<h3>Elkészítées | Leírás </h3>
			<p>			
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			</p>
			<br />			
			<br />
			<a href="/list" class="btn btn-primary">Törlés</a>
			<a href="/list/mod/:id" class="btn btn-primary">Módosítás</a>
			<br />			
			<br />
			<h3>Komment </h3>
			<form action="/list/comment/:id">	  
			  <div class="form-group">
				<label for="dis"></label>
				<textarea class="form-control" id="dis">Írj egy hozzászólást"</textarea>
			  </div> 	   
			  <a href="/list/:id" class="btn btn-primary">Hozzáadás</a>
			</form>
			<br /><br />
			<h5>Kis Pista</h5>
			<p>			
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			</p>
			<h5>Kis Pista</h5>
			<p>			
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			</p><h5>Kis Pista</h5>
			<p>			
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg. Random szöveg.Random szöveg. Random szöveg. Random szöveg.
			</p>			
		</div>
	</div>
<% include footer %>