	<br />
	<form action="/list">	
	  <div class="form-group">
		<label for="foodName">Étel neve</label>
		<input type="text" class="form-control" id="foodName" placeholder="Étel neve">
	  </div>
	  <div class="form-group">
		<label for="calorie">Kalória</label>
		<input type="text" class="form-control" id="calorie" placeholder="Kalória">
	  </div>
	  <div class="form-group">
		<label for="time">Elkészítési idő</label>
		<input type="text" class="form-control" id="time" placeholder="Elkészítési idő">
	  </div>
	  <div class="form-group">
		<label for="dis">Elkészítés | Leírás</label>
		<textarea class="form-control" id="dis"> Elkészítés | Leírás"</textarea>
	  </div>
	  <div class="form-group">
		<label for="exampleInputFile">kép feltöltése</label>
		<input type="file" id="exampleInputFile" >
		<p class="help-block"></p>
	  </div>